@model Profile.Models.ProfileDetails

@{
    ViewData["Title"] = "Home Page";
}

 
<div class="banner">
    <img src="~/images/landscape-evening.jpg" alt="banner" />
</div>

<div class="profile text-center">
    <img class="rounded-circle" src="~/images/Snapchat-491491460_1.jpg" alt="Profile pix" />
    <h3>@Model.FirstName @Model.LastName</h3>
    <h6>@Model.Profession @@  @Model.WorkExperience.CompanyName (@Model.WorkExperience.JobTitle @Model.WorkExperience.JobDescription) <br /> @Model.Address.City @Model.Address.Country</h6>
   
    <a asp-controller="Contact" asp-route-Id="" asp-action="Index" class="btn btn-primary text-center ">Message </a>
    @*<a asp-controller="Dashboard" asp-route-Id="" asp-action="Index" class="btn btn-primary mx-2">More... </a>*@
    @*@{ 
        @if(ViewBag.Message as string != null)
         {
            <h2 class="text-success">@ViewBag.Message</h2>
         }
    }*@
</div>



